.clickWrapper {
  @include fit;
}

.button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  user-select: none;
  border-radius: 9999px;
  padding: 10px 20px;

  position: relative;
  z-index: 20;
}

.default {
  background-color: $color-accent;
  color: white;

  transition: background-color 0.1s;
  &:hover {
    background-color: $color-accent-hover;
  }
}

.ghost {
  color: black;

  opacity: 0.65;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}

.square {
  width: 35px;
  height: 35px;
  background-color: white;
  @include shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0;

  &:hover {
    scale: 1.05;
  }
}

.sqicon {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
