.viewport {
  @include full;
  overflow: hidden;
  position: relative;
  z-index: 10;

  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, $color-gray-invisible 1px, transparent 1px),
    linear-gradient(to bottom, $color-gray-invisible 1px, transparent 1px);
}

.world {
  position: absolute;
  top: 0;
  left: 0;

}