.hint {
  width: 400px;
  height: fit-content;
  @include glass;
  padding: 20px;
  border-radius: 20px;
  @include shadow;

  position: relative;
  z-index: 20;
}

.inner {
  @include center;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}