.main {
  position: relative;
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  padding: $base-offset;
}


.skip, .label, .hints {
  position: absolute;
  z-index: 20;
}

.skip {
  left: $base-offset; bottom: $base-offset;

}

.hints {
  right: $base-offset; bottom: $base-offset;
}

.label {  
  left: $base-offset; top: $base-offset + 70px;
}



.static {
  width: 9999px;
  height: 9999px;
  z-index: 10
}